<!--  -->


<%- partial('common/head') %>
<body>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        
        <div class="container">
            <div class="main-body container-inner">
                <% if (page.current_url == '') { %>
                <!--<div>

                        <style>
                                @media only screen and (min-width: 400px){
                                   .lower{
                                       float:left;
                                       width:31%;
                                       
                                   }
                               }
                               @media only screen and (max-width: 399px){
                                   .lower{
                                       width: 100%;
                                   }
                               } 
                           </style>
                    
                        <div>
                            <a href="./Coin-Review/is-ethos-the-answer-to-key-management-problem/"><div style="position:relative;width:100%;height:400px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/9vilk7dahpng175/p6img1.png?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">
                                    
                                <div style="position:absolute;left:0;bottom:0;right:0;padding:90px 15px 12px;background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);">
                                    <p style="font-size:25px;">Post Title</p>
                                </div>
                            </div></a>
                        </div>
                   

                    <div class="ABC" style="overflow:hidden;border:0;margin-left:11px; margin-right:11px;padding:0;display:block;left:0;right:0;">
                    
                        
                            <a href="./Technology/is-hashgraph-the-thanos-of-the-crypto-universe/"><div class="lower" style="padding:0;border:0;margin-bottom:15px; box-sizing: border-box;display: table;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/o1tlgfywx7wwoah/p5img1.jpg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div></a>

                            <a href="./Opinion/which-are-the-best-exchanges-for-an-indian-to-buy-cryptos/"><div class="lower" style="padding: 0 0 0 0px;margin-bottom: 15px;box-sizing: border-box;display: table;border: none;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/neydvxm8kb4y317/p3img1.jpg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div></a>

                           <a href="Opinion/how-to-earn-from-crypto-with-zero-investment/"> <div class="lower" style="padding: 0 0 0 0px;margin-bottom: 15px;box-sizing: border-box;display: table;border: none;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/jufkp0a6qixdzwf/p8img1.jpeg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div></a>
                        
                
                    </div>

                </div>-->
                <style>
                    .rowu {
                        display: -ms-flexbox; /* IE10 */
                        display: flex;
                        -ms-flex-wrap: wrap; /* IE10 */
                        flex-wrap: wrap;
                        margin: 0 4px;
                        padding: 0 0px;
                        /* margin:0 0 5px 0; */
                    }
                    .row {
                        display: -ms-flexbox; /* IE10 */
                        display: flex;
                        -ms-flex-wrap: wrap; /* IE10 */
                        flex-wrap: wrap;
                        padding: 0 4px;
                        /* margin:0 0 5px 0; */
                    }

                    /* Create four equal columns that sits next to each other */
                    .columnu {
                        -ms-flex: 100%; /* IE10 */
                        flex: 100%;
                        max-width: 100%;
                        margin: 0 4px;
                        padding: 0 0px;
                        position:relative;
                        min-height:195px;
                    }

                    .column {
                        -ms-flex: 32.57%; /* IE10 */
                        flex: 32.57%;
                        max-width: 32.57%;
                        margin: 0 4px;
                        padding: 0 0px;
                        position:relative;
                    }

                    .column img {
                        margin-top: 8px;
                        vertical-align: middle;
                    }
                    
                    .mainT {
                        font-size:32pt;
                        color:#fff;
                        line-height: 45px;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        padding-bottom: 25px;
                    }
                    .mainD{
                        z-index:1000;
                        position:absolute;
                        left:0;
                        bottom:0;
                        right:0;
                        padding:90px 15px 20px;
                        background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);
                    }
                    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
                    @media screen and (min-width: 1025px) {
                        .column img {
                            height:190px;
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        .column {
                            -ms-flex: 32.4%;
                            flex: 32.4%;
                            max-width: 32.4%;
                        }
                        .column img {
                            height:170px;
                        }
                    }
                    @media screen and (max-width: 838px) {
                        .column {
                            -ms-flex: 32%;
                            flex: 32%;
                            max-width: 32%;
                        }
                        .column img {
                            height:160px;
                        }
                    }
                    @media screen and (max-width: 656px) {
                        .column {
                            -ms-flex: 31.8%;
                            flex: 31.8%;
                            max-width: 31.8%;
                        }
                        .column img {
                            height:150px;
                        }
                    }
                    @media screen and (max-width: 586px) {
                        .column {
                            -ms-flex: 31.5%;
                            flex: 31.5%;
                            max-width: 31.5%;
                        }
                        .column img {
                            height:140px;
                        }
                        .mainT{
                            font-size:18px;
                            line-height: 30px;
                            font-weight: 300;
                            padding-bottom: 10px;
                        }
                        .mainD{
                            padding:90px 15px 11px;
                        }
                    }
                    @media screen and (max-width: 501px) {
                        .column {
                            -ms-flex: 31.4%;
                            flex: 31.4%;
                            max-width: 31.4%;
                        }
                        .column img {
                            height:130px;
                        }
                    }
                    @media screen and (max-width: 438px) {
                        .column {
                            -ms-flex: 31.1%;
                            flex: 31.1%;
                            max-width: 31.1%;
                        }
                        .column img {
                            height:120px;
                        }
                    }
                    @media screen and (max-width: 415px) {
                        .column {
                            -ms-flex: 100%;
                            flex: 100%;
                            max-width: 100%;
                            padding: 0 0;
                        }
                        .column img {
                            
                            height:187px;
                        }
                        .mainT{
                            font-size:18px;
                            line-height: 30px;
                            font-weight: 300;
                            padding-bottom: 10px;
                        }
                        .mainD{
                            padding:90px 15px 11px;
                        }
                    }
                </style>
                <div class="rowu">
                    
                        <div class="columnu">
                            <a href="./Coin-Review/is-ethos-the-answer-to-key-management-problem/">
                            <img src="https://www.dropbox.com/s/9vilk7dahpng175/p6img1.png?raw=1" style="width:100%">
                            <div class="mainD">
                                <h3 class="mainT">Is Ethos the answer to key management problem?</h3>
                            </div>
                            </a>
                        </div>
                    
                    
                </div>

                <div class="row" style="margin:0 0 8px 0;"> 
                    
                        <div class="column" style="max-height:351px;overflow:hidden;">
                            <a href="./Technology/is-hashgraph-the-thanos-of-the-crypto-universe/">
                                <img src="https://www.dropbox.com/s/o1tlgfywx7wwoah/p5img1.jpg?raw=1" style="width:100%;">
                                <div style="z-index:1000;position:absolute;left:0;bottom:0;right:0;padding:90px 15px 11px;background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);">
                                    <h3 style="font-size:18px;color:#fff;line-height: 30px;text-overflow: ellipsis;font-weight: 300;padding-bottom: 10px;">Is Hashgraph the Thanos of the Crypto Universe?</h3>
                                </div>
                            </a>
                        </div>
                    
                    
                        <div class="column" style="max-height:351px;">
                            <a href="./Opinion/which-are-the-best-exchanges-for-an-indian-to-buy-cryptos/">
                                <img src="https://www.dropbox.com/s/9sya3k88tfexnua/p3img1.jpg?raw=1" style="width:100%;">
                                <div style="z-index:1000;position:absolute;left:0;bottom:0;right:0;padding:90px 15px 11px;background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);">
                                    <h3 style="font-size:18px;color:#fff;line-height: 30px;text-overflow: ellipsis;font-weight: 300;padding-bottom: 10px;">Which are the best exchanges for an Indian to buy Cryptos?</h3>
                                </div>
                            </a>
                        </div>
                    
                    
                        <div class="column" style="max-height:351px;">
                            <a href="Opinion/how-to-earn-from-crypto-with-zero-investment/">
                                <img src="https://www.dropbox.com/s/jufkp0a6qixdzwf/p8img1.jpeg?raw=1" style="width:100%;">
                                <div style="z-index:1000;position:absolute;left:0;bottom:0;right:0;padding:90px 15px 11px;background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);">
                                    <h3 style="font-size:18px;color:#fff;line-height: 30px;text-overflow: ellipsis;font-weight: 300;padding-bottom: 10px;">How to Earn From Crypto With Zero Investment</h3>
                                </div>
                            </a>
                        </div>
                    
                  </div>

                <% } %>
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <%- body %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>
