<!--  -->


<%- partial('common/head') %>
<body>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        
        <div class="container">
            <div class="main-body container-inner">
                <% if (page.current_url == '') { %>
                <div style="">

                        <style>
                                @media only screen and (min-width: 400px){
                                   .lower{
                                       float:left;
                                       width:29%;
                                       
                                   }
                               }
                               @media only screen and (max-width: 399px){
                                   .lower{
                                       width: 100%;
                                   }
                               } 
                           </style>
                    
                        <div>
                            <div style="position:relative;width:100%;height:400px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/9vilk7dahpng175/p6img1.png?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">
                                    
                                <div style="position:absolute;left:0;bottom:0;right:0;padding:90px 15px 12px;background:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);">
                                    <p style="font-size:25px;">Post Title</p>
                                </div>
                            </div>
                        </div>
                   

                    <div class="ABC" style="overflow:hidden;border:0;margin:0;padding:0;display:block;left:0;right:0;">
                    
                        
                            <div class="lower" style="padding:0;border:0;margin-bottom:15px;box-sizing: border-box;display: table;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/o1tlgfywx7wwoah/p5img1.jpg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div>

                            <div class="lower" style="padding: 0 0 0 0px;margin-bottom: 15px;box-sizing: border-box;display: table;border: none;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/neydvxm8kb4y317/p3img1.jpg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div>

                            <div class="lower" style="padding: 0 0 0 0px;margin-bottom: 15px;box-sizing: border-box;display: table;border: none;height:150px;background-color:blanchedalmond;background-image:url('https://www.dropbox.com/s/jufkp0a6qixdzwf/p8img1.jpeg?raw=1');background-repeat: no-repeat;background-size: 100% 100%;">

                            </div>
                        
                
                    </div>

                </div>
                <% } %>
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <%- body %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>
